html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

div#signalr-notifications {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 5;
	width: 240px;
	height: auto;
	div { 
		border: 1px solid #000;
		background-color: var(--background-color);
		color: hsl(from var(--background-color) calc(h + 180) s calc(100 - l));
		border-radius: 8px;
		width: 240px;
		padding: 8px;
		margin-bottom: 8px;
		font-size: 80%;
	}
}